<div class="container ">
    <div class="authwarp">
    <div class="text-center authLogo">
        <img src="../../../assets/images/logo.png" alt="">
    </div>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input type="email" matInput formControlName="name"
                placeholder="Ex. Rahul Roy">
            <mat-error *ngIf="signupForm.controls['name'].status == 'INVALID'">
            Please enter a valid Name
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>User Name</mat-label>
            <input type="email" matInput formControlName="username"
                placeholder="Ex. pat@example.com">
            <mat-error *ngIf="signupForm.controls['username'].status == 'INVALID'">
            Please enter a valid email / User Name
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
            <mat-error *ngIf="signupForm.controls['username'].status == 'INVALID'">
            Password minimum lenght is 6
            </mat-error>
        </mat-form-field>
        <div class="text-center">
            <button mat-raised-button color="accent" type="submit">Signup</button>
        </div>
        
    </form>
    <div class="mt-3 text-center">Already have an account  <button mat-button color="warn" routerLink="/login">Login</button></div>
    </div>
</div>
