/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~bootstrap/dist/css/bootstrap.css";


.authwarp{
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px 20px;
  background-color: rgba(0,0,0,0.04);
  border-radius: 8px;

  .example-form {
    width: 100%;
  }
    
  .example-full-width {
    width: 100%;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: transparent;
  }

  .authLogo{
    margin-bottom: 15px;
    img{
      height: 70px;
    }
  }
}
